include README.rst
include CHANGES.rst
include COPYING.LGPLv3
include CONTRIBUTORS.rst
include *.py
recursive-include inlinetrans/templates *
recursive-include inlinetrans/static *
recursive-include inlinetrans/locale *
prune   example/
exclude *~
exclude *.pyc